<%= render "devise/shared/error_messages", resource: resource %>

<div class="max-w-md mx-auto bg-zinc-900 p-3 rounded-lg">
  <h2 class="text-2xl font-bold my-3 text-center uppercase">Sign up</h2>
  <hr>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
    <div class="field my-2">
      <%= form.label :name, class:"font-bold" %><br />
      <%= form.text_field :name, class: "rounded-lg w-full p-1", required: true  %>
    </div>
  
    <div class="field mb-2">
      <%= form.label :email, class:"font-bold" %><br />
      <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-lg w-full p-1", required: true  %>
    </div>
  
    <div class="field mb-2">
      <%= form.label :role, class:"font-bold" %><br />
      <%= form.select :role, User.roles.keys.map { |role| [role.humanize, role] }, {}, class: "rounded-lg w-full p-1" %>
    </div>
  
    <div class="field mb-2">
      <%= form.label :organization_id, class:"font-bold" %><br />
      <%= form.select :organization_id, Organization.all.collect { |organization| [organization.name, organization.id] }, {}, class: "rounded-lg w-full p-1" %>
    </div>
    
    <div class="field mb-2">
      <%= form.label :password, class:"font-bold" %>
      <% if @minimum_password_length %>
        <em class="text-xs text-slate-400">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= form.password_field :password, autocomplete: "new-password", class: "rounded-lg w-full p-1", required: true  %>
    </div>
  
    <div class="field">
      <%= form.label :password_confirmation, class:"font-bold" %><br />
      <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-lg w-full p-1", required: true  %>
    </div>

    <%= render "devise/shared/links" %>
  
    <div class="actions flex justify-end">
      <%= form.submit "Sign up", class: "custom-btn" %>
    </div>
  <% end %>
</div>
