<%= form_with(model: leave, url: employee_leaves_path, local: true) do |form| %>
  <div class="mb-4">
    <%= form.label :date, class: 'block text-sm font-medium text-gray-700' %>
    <%= form.date_field :date, min: Date.tomorrow, class: 'mt-1 block w-full border-gray-300 rounded-md shadow-sm cursor-pointer' %>
  </div>

  <div class="mb-4">
    <%= form.label :type, class: 'block text-sm font-medium text-gray-700' %>
    <%= form.select :type, Leave.types.keys.map { |type| [type.humanize, type] }, {},
        class: 'mt-1 block w-full border-gray-300 rounded-md shadow-sm'
     %>
  </div>

  <div class="flex items-center justify-end space-x-4">
    <%= form.submit 'Apply', class: 'submit-btn' %>
    <%= link_to 'Cancel', employee_leaves_path, class: 'cancel-btn', data: {turbo_frame: "_top"} %>
  </div>  
<% end %>

<%= render 'shared/error_message', model: leave %>
