<%= form_with(model: @work_from_home, url: employee_work_from_homes_path, local: true) do |form| %>
  <div class="mb-4">
    <%= form.label :date, class: 'block text-sm font-medium text-gray-700' %>
    <%= form.date_field :date, class: 'mt-1 block w-full border-gray-300 rounded-md shadow-sm cursor-pointer', min: Date.today %>
  </div>

  <div class="flex items-center justify-end space-x-4">
    <%= form.submit 'Apply', class: 'submit-btn' %>
    <%= link_to 'Cancel', employee_work_from_homes_path, class: 'cancel-btn' %>
  </div>
<% end %>

<%= render 'shared/error_message', model: @work_from_home %>