<div class="mt-20 ml-64 px-3 py-1">
  <div class="flex items-center justify-between">
    <p class="text-2xl font-bold">Work From Home Records</p>
    <%= render 'apply_wfh_button' %>
  </div>

  <hr class="my-4">

  <% if current_user.manager? %>
    <%= turbo_frame_tag "filters" do %>
      <%= render 'shared/filters', url: employee_work_from_homes_path %>
    <% end %>  
  <% end %>

  <%= turbo_frame_tag "list" do %>
    <%= render 'shared/records_table', headers: wfh_table_headers, rows: wfh_table_rows %>
  <% end %>

</div>