<!DOCTYPE html>
<html>
  <head>
    <title>Office attendance portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> 
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice.present? %>
      <p class="notice bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3" data-controller="timeout-alert">
        <%= notice %>
      </p>
    <% end %>

    <% if alert.present? %>
      <p class="alert bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3" data-controller="timeout-alert">
        <%= alert %>
      </p>
    <% end %>

    <% if current_user %>
      <%= render 'shared/role_navbar' %>
      <%= render 'shared/sidebar' %>
    <% end %>

    <main class="m-4"><%= yield %></main>
  </body>
</html>
